<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
  ntegrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
    <title>S0rg?</title>
  </head>
  <body class="bg-gray-900">
    <header class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
<img class="w-10 h-10 rounded-full" src="https://cdn.discordapp.com/icons/1038094169819856976/a_c87d761a2bdbac3fe7bf2b6cbd43484f.gif">
          <span class="ml-3 text-xl">Turbo</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
          <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots"> 
            <i class="fa-xl fa-solid fa-magnifying-glass"></i>
          </button>
    
          <div id="dropdownDots" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
            <div class="py-3 px-4 text-sm text-gray-900 dark:text-white">
              <div>Sorgu</div>
            </div> 
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                <li>
                  <a href="<%= link %>sorgu/gt" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">GSM -> TC</a>
                </li>
                <li>
                  <a href="<%= link %>sorgu/tg" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">TC -> GSM</a>
                </li>
                <li>
                  <a href="<%= link %>sorgu/sorgu" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">AD SOYAD -> TC(TÜM TR)</a>
                </li>
                <li>
                  <a href="<%= link %>sorgu/mrns" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">AD SOYAD -> TC(+18)</a>
                </li>
                <li>
                  <a href="<%= link %>sorgu/tb" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">TC -> BİLGİ</a>
                </li> 
               <li>
                  <a href="<%= link %>sorgu/ta" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">TC -> Aile</a>
                </li>
                              </ul>
          </div>
        </nav>

      <img  id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="rounded-full w-12 h-12" src="<%=client.users.cache.get(user.id).displayAvatarURL({ dynamic: true, format: "jpeg" })%>">
        <div id="dropdownInformation" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
          <div class="py-3 px-4 text-sm text-gray-900 dark:text-white">
            <div><%= user.username %></div>
          </div>
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
            <li>
              <a href="/profil" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profil</a>
            </li>
            <li>
              <a href="/cikis" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Çıkış</a>
            </li>
          </ul>
      </div>
      </div>
    </header>
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">AD SOYAD -> BİLGİ(+18)</h1>
           </div>
            <form action="/mrns" method="POST">
          <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end sm:space-x-4 sm:space-y-0 space-y-4">
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="full-name" class="leading-7 text-sm text-gray-400">AD</label>
              <input type="text" id="full-name" name="ad" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative sm:mb-0 flex-grow w-full">
              <label for="text" class="leading-7 text-sm text-gray-400">SOYAD</label>
              <input type="text" id="text" name="soyad" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
 <button type="Submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Sorgula</button>
          </div>
        </form>
        </div>
      </section>
    </body>
    </html>